/* call font-face */
@import url('https://github.com/UsabitGavelino/Ciclic/blob/85611f7fe3daa344de5e6e0a8c2aa6675108db82/font.css');
/* apply font */
h1 {
	font-family: 'Oscine', sans-serif;
	font-weight: normal;
	font-style: normal;
}
