@font-face {
    font-family: 'Oscine';
    src: url('https://github.com/UsabitGavelino/Ciclic/blob/66834e45ed41abad13782c0999006c267fcd25a9/font-oscine/Oscine_Lt.ttf') format('truetype'),
		url('https://github.com/UsabitGavelino/Ciclic/blob/66834e45ed41abad13782c0999006c267fcd25a9/font-oscine/Oscine_W_Bd.woff') format('woff'),
		url('https://github.com/UsabitGavelino/Ciclic/blob/66834e45ed41abad13782c0999006c267fcd25a9/font-oscine/Oscine_W_Bd.woff2') format('woff2'),
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oscine';
    src: url('https://github.com/UsabitGavelino/Ciclic/blob/66834e45ed41abad13782c0999006c267fcd25a9/font-oscine/Oscine_Lt.ttf') format('truetype'),
		url('https://github.com/UsabitGavelino/Ciclic/blob/66834e45ed41abad13782c0999006c267fcd25a9/font-oscine/Oscine_W_Rg.woff') format('woff'),
		url('https://github.com/UsabitGavelino/Ciclic/blob/66834e45ed41abad13782c0999006c267fcd25a9/font-oscine/Oscine_W_Rg.woff2') format('woff2'),
    font-weight: regular;
    font-style: normal;
}
